<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="info.melda.sala.ztemezszam"
      android:versionCode="1"
      android:versionName="1.0">
    <application
        android:label="@string/app_name"
        android:icon="@drawable/zte"
        android:name=".ZTEMezszamApplication">>
        <activity android:name="SeasonActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PlayerActivity"
                  android:label="@string/app_name">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".PrefsActivity" 
              android:label="@string/titlePrefs" />
        <activity android:name=".PlayerListActivity"
              android:label="@string/titlePlayerList" />
        <activity android:name=".SeasonListActivity"
              android:label="@string/titleSeasonList" />
        <activity android:name=".ShirtActivity"
              android:label="@string/app_name" />
        <activity android:name=".ShirtListActivity"
              android:label="@string/titleShirtList" />
        <service android:name=".UpdaterService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="info.melda.sala.SEND_ZTEDB_UPDATED_NOTIFICATION" />
    <uses-permission android:name="info.melda.sala.RECEIVE_ZTEDB_UPDATED_NOTIFICATION" />

    <permission android:name="info.melda.sala.SEND_ZTEDB_UPDATED_NOTIFICATION"
        android:label="@string/send_ztedb_updated_notifications_permission_label"
        android:description="@string/send_ztedb_updated_notifications_permission_description"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <permission android:name="info.melda.sala.RECEIVE_ZTEDB_UPDATED_NOTIFICATION"
        android:label="@string/receive_ztedb_updated_notifications_permission_label"
        android:description="@string/receive_ztedb_updated_notifications_permission_description"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

</manifest>
