<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.melda.sala.zetemezszam"
      android:versionCode="10009"
      android:versionName="1.00.09"
      android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="info.melda.sala.SEND_ZTEDB_UPDATED_NOTIFICATION" />
    <uses-permission android:name="info.melda.sala.RECEIVE_ZTEDB_UPDATED_NOTIFICATION" />
    <permission android:name="info.melda.sala.SEND_ZTEDB_UPDATED_NOTIFICATION"
        android:label="@string/send_ztedb_updated_notifications_permission_label"
        android:description="@string/send_ztedb_updated_notifications_permission_description"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <permission android:name="info.melda.sala.RECEIVE_ZTEDB_UPDATED_NOTIFICATION"
        android:label="@string/receive_ztedb_updated_notifications_permission_label"
        android:description="@string/receive_ztedb_updated_notifications_permission_description"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <application
        android:theme="@style/Theme.AppCompat"
        android:label="@string/app_name"
        android:icon="@drawable/zteicon"
        android:name="info.melda.sala.zetemezszam.ZTEMezszamApplication"
        android:allowBackup="true"
        android:supportsRtl="false">
        <activity android:name="info.melda.sala.zetemezszam.SeasonActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="info.melda.sala.zetemezszam.PlayerActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="info.melda.sala.zetemezszam.PrefsActivity"
              android:label="@string/titlePrefs"/>
        <activity android:name="info.melda.sala.zetemezszam.PlayerListActivity"
              android:label="@string/titlePlayerList"/>
        <activity android:name="info.melda.sala.zetemezszam.SeasonListActivity"
              android:label="@string/titleSeasonList"/>
        <activity android:name="info.melda.sala.zetemezszam.ShirtActivity"
              android:label="@string/app_name"/>
        <activity android:name="info.melda.sala.zetemezszam.ShirtListActivity"
              android:label="@string/titleShirtList"/>
        <service android:name="info.melda.sala.zetemezszam.UpdaterService" />
    </application>


</manifest>
